@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    /* margin: 0px;
    padding: 0px; */
    /* font-family: "Open Sans", sans-serif; */

}

/* Common Styles */
.primary-color{

    color: #FD6E0A;
}


/* Navbar styles */

.Open Sans{
    font-family: "Open Sans", sans-serif;
}

nav{
    display: flex;
}

.nav-title{
    font-size: 45px;
    font-weight: 800;
}
/* End-Navbar-styles */